'body':
  'f d': 'core:cancel'

'atom-text-editor, atom-text-editor[mini]':
  'f d': 'editor:consolidate-selections'

'atom-text-editor.vim-mode-plus':
  'f d': 'vim-mode-plus:reset-normal-mode'

'atom-text-editor.vim-mode-plus:not(.insert-mode), atom-dock, .settings-view':
  'space space': 'command-palette:toggle'
  'space tab': 'awe:cycle-pane'
  'space /': 'project-find:toggle'

  'space q q': 'application:quit'
  # +compile/comments
  'space c l': 'editor:toggle-line-comments'
  'space c y': 'keystroke y y space c l'
  # +buffers
  'space b b': 'fuzzy-finder:toggle-buffer-finder'
  'space b d': 'tabs:close-tab'
  'space b p': 'vim-mode-plus:previous-tab'
  'space b n': 'vim-mode-plus:next-tab'
  'space b N': 'application:new-file'
  'space b m': 'tabs:close-other-tabs'
    # +files
  'space f t': 'tree-view:toggle'
  'space f f': 'fuzzy-finder:toggle-file-finder'
  'space f F': 'fuzzy-finder:toggle-file-finder'
  'space f s': 'core:save'
  'space f S': 'window:save-all'
  'space f y': 'editor:copy-path'
  'space f R': 'tree-view:rename'
  'space f c': 'copy-file-contents:copy'
  'space f C d': 'line-ending-selector:convert-to-CRLF'
  'space f C u': 'line-ending-selector:convert-to-LF'
  'space f e d': 'settings-view:open'
  'space f e k': 'settings-view:show-keybindings'
  'space f e t': 'settings-view:change-themes'
  'space f e p': 'settings-view:view-installed-packages'
  'space f e i': 'window:toggle-dev-tools'
  # +projects
  'space p p': 'git-projects:toggle-add'
  'space p f': 'fuzzy-finder:toggle-file-finder'
  # +UI toggles/themes
  'space T F': 'window:toggle-full-screen'
  'space T P': 'markdown-preview:toggle'
  'space T p': 'command-palette:toggle'
  'space T t': 'status-bar:toggle'
  'space T s': 'settings-view:change-themes'
  # +toggles
  'space t f': 'tree-view:toggle'
  'space t g': 'github:toggle-git-tab'
  'space t G': 'github:toggle-github-tab'
  'space t i': 'editor:toggle-indent-guide'
  'space t I': 'window:toggle-auto-indent'
  # +windows
  'space w d': 'window:close'
  'space w h': 'window:focus-pane-on-left'
  'space w l': 'window:focus-pane-on-right'
  'space w k': 'window:focus-pane-above'
  'space w j': 'window:focus-pane-below'
  'space w s': 'pane:split-down-and-copy-active-item'
  'space w v': 'pane:split-right-and-copy-active-item'
  'space w 1': 'pane:show-item-1'
  'space w 2': 'pane:show-item-2'
  'space w 3': 'pane:show-item-3'
  'space w 4': 'pane:show-item-4'
  'space w 5': 'pane:show-item-5'
  'space w 6': 'pane:show-item-6'
  'space w 7': 'pane:show-item-7'
  'space w 8': 'pane:show-item-8'
  'space w 9': 'pane:show-item-9'
